<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <title>Music Player</title>
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul>
          <li>MUSIC</li>
          <li>Home</li>
          <li>About</li>
        </ul>
      </nav>
    </div>

    <div class="bottom">
      <input type="range" min="0" ; max="100" class="ProgressBar" />

      <span class="control">
        <i class="fa-2x fa-solid fa-backward"></i>
        <i class="fa-2x fa-solid fa-play"></i>
        <i class="fa-2x fa-solid fa-forward"></i>
      </span>
    </div>
    <script
      src="https://kit.fontawesome.com/21c0ed51ca.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
