body {
  background-color: rgba(239, 246, 210, 0.817);
  
}

.hero {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: black;
  padding: 1%;
}

.hero-layout {
  background-color: rgba(107, 104, 100, 0.682);
  border-radius: 25px;
  padding: 6px;
  border: none;
  color: antiquewhite;
  display: inline;
  margin-left: 107px;
}

#red {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  background-color: red;
  display: inline-block;
}
#yellow {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  background-color: rgb(243, 210, 43);
  display: inline-block;
}
#green {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  background-color: rgb(68, 255, 0);
  display: inline-block;
}

#link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro {
  display: block;
  color: blue;
}

.p {
  margin-top: 100px;
  margin-left: 50px;
}
#ryg {
  display: inline-block;
  padding: 6px;
  margin: 7px;
}

#main {
  width: 550px;
  height: 350px;
  border: 3px rgb(16, 2, 2) solid;
  border-radius: 27px;
  }
