body{
  background-color: black;
}

.main {
  width: 400px;
  height: 400px;
  border: 3px solid rgb(21, 220, 220);
  border-width: 25px;
  margin:250px;
  border-radius: 35%;
}
.in {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(29, 164, 103);
  border-width: 25px;
  
  margin:100px;
}
