body {
  background-color: black;
  overflow: hidden;
  color: bisque;
  margin: none;

}

#AppName {
  color: rgba(7, 245, 245, 0.941);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Rubik Doodle Shadow", sans-serif;
  font-size: 32px;
  font-weight: bolder;

  text-shadow: 3px 3px 4px rgb(14, 251, 247);
}
.animate {
  animation: AppName infinite ease-in-out 5s;
}

@keyframes AppName {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
#exercise{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20vh;
}

#namesFE {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 16px;
  text-align: center;
}

.nameFE {
  padding: 8px;
  transition: all 0.2s ease-in-out;
}


.nameFE:hover {
    transform: scale(1.2);
    color:rgb(97, 225, 23);
    border: 2px red solid;
    
  }

  /* nth child pseudo class use-case*/
#namesFE li:nth-child(odd) {
  background-color: rgb(81, 125, 127);
}

#namesFE li:nth-child(even) {
  background-color: rgb(106, 172, 86);
}

