body {
  background-color: rgb(107, 98, 98);
}
#rec {
  border-radius: 18px;
  background-image: linear-gradient(
    to bottom left,
    rgb(181, 248, 137),
    rgb(237, 237, 161),
    rgb(244, 145, 244)
  );
  display: inline-block;
  margin-left: 125px;
}

#input {
  background-image: linear-gradient(
    to bottom right,
    rgb(244, 145, 244),
    rgb(237, 237, 161),
    rgb(145, 194, 112)
  );
  -moz-appearance: textfield;

  color: black;
  border-radius: 17px;
  font-weight: bolder;
  height: 35px;
  display: inline-block;
  border: hidden;
}

.inp {
  width: 32px;

  height: 32px;

  margin: 4px;

  padding: 5px;

  font-size: larger;

  border-radius: 16px;

  border: hidden;

  transition: 0.15s background-color;
}

#equal {
  width: 50px;
}

.inp:hover {
  background-color: rgb(166, 144, 116);
  cursor: pointer;
}
