
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Gill Sans";
}

#nav li {
  padding: 0 15px;
}
#nav {
  display: flex;
  align-items: center;

  list-style-type: none;

  height: 65px;

  background-color: #000000;
  color: #ffffff;
}

.container{

  min-height: 75vh;
  background-color: black;
  color: rgb(241, 241, 241);
  
}

.logo img {
  max-width: 44px;
  padding: 0 8px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 2rem;
}

.logo li {
  padding: 0px 15px;
}

.bottom {
  position: sticky;
  background-color: black;
  height: 130px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.icons {
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

#ProgressBar{

  width:60vw;
}
